.scroll-btn {
    position: fixed;
    bottom: 40px;
    right: -60px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: #0253A0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.scroll-btn.show {
    right: 30px;
    /* slide from side */
}

.scroll-btn:hover {
    background: #0253A0;
    transform: translateY(-5px);
}