* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1450px !important;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: h;
  src: url("../public/Font/h.otf");
}

@font-face {
  font-family: p;
  src: url("../public/Font/p.otf");
}

:root {
  --oring: #F36C03;
  --blue: #0253A0;
  --white: #E6E6E6;
  --black: #000000;
  --green: #207404;
}

h1,
h2,
h3,
h4 {
  font-family: h;
}

.whatsapp {
  position: absolute;
  right: 1%;
  bottom: 1%;
  font-size: 50px;
  color: var(--oring);
  width: 50;
  position: fixed;
  z-index: 9999;
}

@media (max-width:500px) {
  .whatsapp {
    bottom: 50px;
  }
}

p {
  font-family: p;
}

/* 🔹 Preloader */
.preloader {
  position: fixed;
  inset: 0;
  background: #000;
  color: #fff;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 200px;
  }
}

/* Active page button */
.navbar .nav-link.active {
  background-color: var(--oring);
  /* Blue */
  color: #fff !important;
  font-weight: 600;
}

.navbar {
  .navbar-brand {
    padding: 0;

    img {
      width: 70px;
    }
  }

  .nav-link {
    background-color: var(--white);
    margin: 1px;
    padding: 10px;
    border-radius: 5px;
  }

  .number {
    background-color: var(--oring);
    display: grid;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--white);
  }
}

.hover {
  font-size: 2rem;
  color: #ffffff;
  position: relative;
  display: inline-block;
}

.hover::after,
.hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #F36C03, #0253A0);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover::before {
  top: -5px;
  transform-origin: left;
}

.hover:hover::after,
.hover:hover::before {
  transform: scaleX(1);
}

.form1 {
  form {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;

    .link {
      text-decoration: none;
      color: var(--white);
      background-color: var(--oring);
      padding: 7px;
      text-align: center;
      border: none;
      border-radius: 50px;
      width: 50%;
      margin: auto;
    }
  }
}

@media (max-width: 600px) {
  .form1 form {
    padding: 2%;
  }

  .form1 .link {
    width: 60%;
    margin: auto;
  }

  .form1 .Response {
    display: flex;
    justify-content: space-between;
  }
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-box {
  background: #fff;
  padding: 30px 50px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}

.popup-box.success {
  color: green;
}

.popup-box.error {
  color: red;
}

.Destinations h1 {
  color: var(--oring);
  text-align: center;
}

.TravelTips {
  position: sticky;
  top: 0px;

  .content {
    animation: GWT 0.10s linear infinite alternate;
    background-color: var(--oring);
    color: var(--white);
    padding: 50px 10px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid var(--white);

    .link {
      background-color: var(--white);
      padding: 8px;
      font-weight: bold;
      border-radius: 2px;
      text-decoration: none;
      color: var(--oring);
    }
  }
}

.collapsbox {
  .accordion-button:not(.collapsed) {
    background-color: var(--oring);
    color: var(--white);
  }

  h4 {
    color: var(--oring);
  }
}

@keyframes GWT {
  to {
    border: 2px solid var(--blue);
  }

  form {
    border: 2px solid var(--white);
  }
}

.home1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url("https://turmet-react.vercel.app/assets/img/hero/hero2.jpg");
  background-position: left;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);

  h3 {
    color: var(--oring);
  }

  h5 {
    color: var(--blue);
  }
}

@media (max-width:500px) {
  .home1 {
    height: auto;
    background-position: center;
    padding: 30px 0px;
  }
}

.home2 {
  margin: 30px 0px;

  h1 {
    color: var(--blue);
  }

  .btn {
    background-color: var(--blue);
    color: var(--white);
  }
}

.home3 {
  margin: 30px 0px;
  background-image: url("https://ex-coders.com/html/turmet/assets/img/about/about-bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 0px;

  .content {
    text-align: center;
    border-radius: 10px;

    h1 {
      color: var(--blue);
    }
  }

  .box {
    background-color: red;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 15px;
  }

  .card {
    text-align: left;

    .btn {
      background-color: var(--blue);
      width: 100%;
      color: var(--white);
      font-weight: bold;
    }
  }
}

.home4 {
  background-image: linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0)), url("https://wowtheme7.com/tf/travelor/travelor/assets/images/service/service-three-bg.jpg");
  padding: 50px 0px;
  background-size: cover;
  background-attachment: fixed;

  h1,
  h4 {
    color: var(--blue);
  }
}

.home5 {
  background-color: var(--blue);
  text-align: center;
  color: var(--white);
  padding: 50px 0px;

  .box {
    width: 100%;
    padding: 15px 2px 2px 2px;
    border-radius: 5px;
    border: 5px double var(--white);
    transition: 0.3s ease-in-out;

    img {
      width: 70px;
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      background-image: linear-gradient(rgba(243, 108, 3, 1), rgba(2, 83, 160, 1));
    }
  }
}

.home6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ex-coders.com/html/turmet/assets/img/cta-bg.jpg");
  padding: 100px 0px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: var(--white);

  h1 {
    color: transparent;
    font-size: 50px;
    -webkit-text-stroke: 1px var(--white);
  }

  .link {
    background-color: var(--oring);
    color: var(--white);
  }
}

.home8 {
  margin: -40px 0px 50px 0px;

  h1 {
    color: var(--blue);
  }

  .icon {
    background-color: var(--blue);
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 5px;
  }
}

.home9 {
  padding: 30px 0px;

  .box {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 20px;
  }

  h1 {
    color: var(--blue);
  }

  .btn {
    background-color: var(--blue) !important;
    color: var(--white) !important;
  }

  .card {
    position: relative;
    overflow: hidden;

    .content {
      bottom: 0%;
      transition: 0.20s ease-in-out;
      text-align: center;
      position: absolute;
      background: linear-gradient(to top, rgba(2, 83, 160, 1) 50%, rgba(2, 83, 160, 0) 100%);
      width: 100%;
      padding-top: 20px;
      color: var(--white);
    }
  }
}

.home10 {
  padding: 50px 0px;

  .top {
    color: var(--blue);
  }

  h1 {
    color: var(--blue);
  }

  .card h4 {
    color: var(--blue);
  }

  .btn {
    background-color: var(--blue) !important;
    color: var(--white) !important;
  }
}

.footer {
  background-color: var(--white);
  padding-bottom: 20px;
  background-image: url("https://html.tonatheme.com/2025/tourvisor/assets/images/shape/shape-7.png");

  h1 {
    color: var(--blue);
  }

  img {
    width: 150px;
  }

  .Linki {
    text-decoration: none;
    color: var(--black);
  }

  .iconbox {
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 50px;

    .icon {
      padding: 6px;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      color: var(--blue);
      background-color: var(--white);
    }
  }
}

@media (max-width:500px) {
  .footer {
    img {
      width: 250px;
    }
  }
}

.FlashOffer1 {
  width: 100%;
  height: 55vh;
  color: var(--white);
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("https://ik.imagekit.io/uvsjit70p/FlashOffer?updatedAt=1770371800252");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center;

  .btn {
    background-color: var(--blue) !important;
  }
}

.Schengen_Visa1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://3globaltours.co.uk/wp-content/uploads/2025/08/Apply-Your-Schengen-Visa.png");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;

    h1 {
      color: var(--oring);
    }
  }
}

.Schengen_Visa2 {
  padding: 50px 0px;

  .content {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-size: cover;
    background-position: center;
    border: 5px double var(--blue);
    padding: 20px;
    text-align: center;
    border-radius: 10px;

    h1 {
      color: var(--blue);
    }
  }

  .link {
    background: var(--blue);
    color: var(--white);
  }

  .box {
    background-color: var(--blue);
    border-radius: 10px;
    color: var(--white);
    display: flex;
    align-items: center;
    border: 5px double var(--white);
    justify-content: center;
    background: linear-gradient(120deg, #0253A0, #F36C03);
    background-size: 300% 300%;
    animation: slideColor 5s infinite ease-in-out;
  }

  h4 {
    color: var(--blue);
  }
}

@keyframes slideColor {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (max-width:500px) {
  .Schengen_Visa2 {
    .box {
      display: none;
    }
  }
}

.About1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://html.tonatheme.com/2025/tourvisor/assets/images/background/page-title.jpg");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }

  h1 {
    color: var(--oring);
  }
}

.About2 {
  h1 {
    color: var(--blue);
  }

  .mainbox {
    display: flex;
    text-align: center;
    justify-content: space-between;

    .box {
      background-color: var(--blue);
      color: var(--white);
      padding: 15px;
      border-radius: 10px;
      width: 100%;
    }
  }

  .box {
    background-color: var(--blue);
    padding: 20px;
    color: var(--white);
    border-radius: 10px;
    border: 2px solid var(--white);
  }
}

.about3 {
  padding: 10px 0px;
  color: var(--white);

  .box {
    background-color: var(--blue);
    border-radius: 15px;
    padding: 10px;
    transition: 0.20s ease-in-out;

    .icon {
      background-color: var(--white);
      color: var(--blue);
      width: 50px;
      height: 50px;
      padding: 5px;
      border-radius: 5px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

.about4 {
  h1 {
    color: var(--blue);
  }
}

.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://html.tonatheme.com/2025/tourvisor/assets/images/background/page-title.jpg");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;

    h1 {
      color: var(--oring);
    }
  }
}

.contact1 {
  padding: 50px 0px;

  .box {
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid var(--oring);

    h1 {
      color: var(--oring);
    }

    .link {
      text-decoration: none;
      color: var(--black);
      font-weight: bold;
    }
  }
}

.team3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://wowtheme7.com/tf/travelor/travelor/assets/images/cta/cta-bg.jpg");
  padding: 50px 0px;
  color: var(--white);
  text-align: center;
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;

  h1 {
    font-size: 80px;
  }

  .btn {
    background-color: var(--oring);
  }
}

@media (max-width:500px) {
  .team3 h1 {
    font-size: 50px;
  }
}

.Blog1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://turmet-react.vercel.app/assets/img/breadcrumb/breadcrumb.jpg");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;

    h1 {
      color: var(--oring);
    }
  }
}

.blog2 {
  padding: 30px 0px;

  .content {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 3px double var(--blue);
    padding: 10px;
    border-radius: 10px;
    text-align: center;

    h1 {
      color: var(--blue);
    }
  }

  .card {
    .date {
      color: var(--blue);
    }

    h5 {
      color: var(--blue);
      font-family: h;
    }

    .btn {
      background-color: var(--blue);
      color: var(--white);
    }
  }
}

.faq1 {
  padding: 50px 0px;

  h1 {
    color: var(--blue);
  }

  .box {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0px;

    h3 {
      color: var(--blue);
    }
  }
}

.faq2 {
  h2 {
    color: var(--oring); 
  }

  .accordion-button {
    background-color: var(--blue);
    color: var(--white);
  }

  .accordion-button:not(.collapsed) {
    background-color: var(--oring);
    color: var(--white);
  }
}

.France1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/france?updatedAt=1772573788139");
  background-size: cover;
  background-position: bottom;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.France2 {
  .content {
    background-color: var(--oring);
    color: var(--white);
    padding: 15px;
    border-radius: 10px;
    margin: 20px 0px;
  }
}

.Belgium1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/belgium?updatedAt=1772625367374");
  background-size: cover;
  background-position: center;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Austria1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/austria?updatedAt=1772573467942");
  background-size: cover;
  background-position: center;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Italy1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Itlay?updatedAt=1772573288727");
  background-size: cover;
  background-position: center;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Spain1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Spain?updatedAt=1772610405359");
  background-size: cover;
  background-position: center;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Bulgaria1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Bulgaria?updatedAt=1772642892487");
  background-size: cover;
  background-position: center;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Croatia1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Croatia?updatedAt=1772643064248");
  background-size: cover;
  background-position: center;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Czech1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Czech?updatedAt=1772643243011");
  background-size: cover;
  background-position: bottom;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Denmark1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Denmark?updatedAt=1772610761242");
  background-size: cover;
  background-position: top;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Estonia1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Estonia?updatedAt=1772642723244");
  background-size: cover;
  background-position: top;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Finland1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Finland?updatedAt=1772610988951");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Greece1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Germany?updatedAt=1772611144139");
  background-size: cover;
  background-position: bottom;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Germany1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Germany?updatedAt=1772611144139");
  background-size: cover;
  background-position: bottom;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Hungary1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Hungary?updatedAt=1772611641316");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Iceland1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Iceland?updatedAt=1772611748356");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Latvia1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Latvia?updatedAt=1772611840150");
  background-size: cover;
  background-position: bottom;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Liechtenstein1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Liechtenstein?updatedAt=1772611973021");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Lithuania1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Lithuania?updatedAt=1772612061569");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Luxembourg1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Luxembourg?updatedAt=1772642523436");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Malta1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Malta?updatedAt=1772612150284");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Netherlands1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Netherlands?updatedAt=1772643560189");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Norway1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Norway?updatedAt=1772609923578");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Poland1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Poland?updatedAt=1772610205209");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Portugal1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Portugal?updatedAt=1772573237286");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Romania1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Romania?updatedAt=1772643773671");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Slovakia1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Slovakia?updatedAt=1772643964236");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Slovenia1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Slovenia?updatedAt=1772644255405");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Sweden1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Sweden?updatedAt=1772644376564");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Switzerland1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/Switzerland?updatedAt=1772612334591");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Our_Services1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/TicBok?updatedAt=1773223252556");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }

  h1 {
    color: var(--oring);
  }
}

.Our_Services2 h4 {
  color: var(--oring);
}

.Best_Tour_Guide1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/BTG?updatedAt=1773222079404");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }

  h1 {
    color: var(--oring);
  }
}

.tour_booking1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/TB?updatedAt=1773222494587");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }
}

.Hotel_Booking1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/HB?updatedAt=1773222910549");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }

  h1 {
    color: var(--oring);
  }
}

.ticket1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/TicBok?updatedAt=1773223252556");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }

  h1 {
    color: var(--oring);
  }
}

.rental1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/RS?updatedAt=1773224870611");
  background-size: cover;
  background-position: bottom;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }

  h1 {
    color: var(--oring);
  }
}

.terms {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/uvsjit70p/Schengen_Visa/terms?updatedAt=1773227466559");
  background-size: cover;

  .content {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    text-align: center;
  }

  h1 {
    color: var(--oring);
  }
}

.terms1 h4 {
  color: var(--oring);
}